<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About me</h1>
      <p class="lead">Junior <b>DevOps</b> Consultant with non-commercial expertise in <b>CI/CD Pipeline(Jenkins)</b>, <b>Docker</b>, <b>Kubernetes</b>, <b>Terraform</b> and <b>Ansible</b></p>
      <p>I am a graduate of the Jawaharlal Nehru Technological University, Hyderabad, India.
        I have acquired a Bachelor of Technology degree in Electronics & Communication Engineering, receiving a First Class on my diploma.
        Since graduation I have worked either as a Manual Tester and as an Automation Tester. </p>
      <p>I have completed a DevOps training course led by Sparta Global in September 2021 with aim to work as a DevOps Engineer.
        Beside basic programming in Java the course covers a wide range of topics including theory of object oriented programming,
        design patterns, SOLID principles and practical implementation of such technologies as Angular, JavaScript, HTML/CSS, Hibernate, JDBC/MySQL or GIT.
        Prior to learning Java I have been learning Python. </p>
      <p>In my day-to-day duties I am responsible, among others, for coordination of works’ and maintaining work schedules.
        I am used to working on large projects with numerous co-workers.
        I believe that I am a good team player and that positive approach along with respect to co-workers are the key for successful projects.</p>
      <p>I am a person who likes to set ambitious goals. I am well-organized, hard-working, reliable and very motivated.
        My work experience on the site assured me that I can effectively work under pressure.
        I have excellent interpersonal and communication skills, good sense of humor and I have an optimistic approach to life.</p>
      <a class="btn btn-outline-dark" [routerLink]="['/','posts']" role="button">Go to my projects</a>
    </div>
  </div>
  