<div class="jumbotron">

    <h1 class="display-4">Hello there, I'm</h1>
    <h1 class="display-3">Prathima Joginipelly</h1>
  
    <div class="float-left">
      <img src="assets/profilepic.jpeg" class="rounded" alt="..." width=40% height=40%>
    </div>
  
    <p class="lead">Aspiring Junior DevOps Consultant with great passion for sports like tennis, volleyball and <b>Automation</b></p>
  
    <hr class="my-4">
    <p>I invite you to get to know me better <br>as well as my projects</p>
    <a class="btn btn-outline-dark" [routerLink]="['/','about']" role="button">More about me</a>
  </div>
  